body {
    background-color: #053d38;
}

header {
    text-align: center;
    color: #a3ccabde;
}

section {
    background: #a3ccab;
    border-radius: 15px;
    padding: 40px;
    max-width: 700px;
    margin: auto;
    box-shadow: 15px 15px 20px #00000093;
}

div.criar-tarefa {
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
}

a {
    color: #a3ccabde;
    text-decoration: none;
}